<ul class="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
  <% end %>
</ul>

<%= form_for @tweet do |f| %>
  <%= f.text_area :message, placeholder: "What did you learn today?" %>
  <%= f.submit "Tweet", id: "create-tweet" %>
<% end %>

<script id="tweet-template" type="text/x-handlebars-template">
  <li class="tweet">
    <p>{{message}}</p>
    <time>{{created_at}}</time>
  </li>
</script>
